.contact-item {
  display: flex;
  padding: 5px;
}
.contact-item:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.103);
}

.avatar {
  min-width: 50px;
}

.user {
  flex-grow: 1;
  margin-left: 15px;
}

.name {
  font-size: 1.6em;
}

.email {
  font-size: 0.8em;
  color: rgba(0,0,0, 0.65)
}

input[type='checkbox'] {
  align-self: center;
  justify-self: right;
}